<div class="calculator-value-container">
  <mat-form-field>
    <input matInput [disabled]="true" [value]="valueHolder">
  </mat-form-field>
</div>
<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile>
    <button class="button" (click)="numberClicked(1)" mat-button>1</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" (click)="numberClicked(2)" mat-button>2</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" (click)="numberClicked(3)" mat-button>3</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" (click)="numberClicked(4)" mat-button>4</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" (click)="numberClicked(5)" mat-button>5</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" (click)="numberClicked(6)" mat-button>6</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" (click)="numberClicked(7)" mat-button>7</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" (click)="numberClicked(8)" mat-button>8</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" (click)="numberClicked(9)" mat-button>9</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" (click)="subClicked()" mat-button>-</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" (click)="addClicked()" mat-button>+</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" (click)="equalClicked()" mat-button>=</button>
  </mat-grid-tile>
</mat-grid-list>